/* This code is messy and needs to be cleaned up */

pre, pre code {
	display: inline-block;
	float: left;
}

pre {
	border-style: dotted;
	border-width: 0px 1px 1px 0px;
	border-color: #BABABA;
	margin-right: .5rem;
}

code.block {
	padding: 0;
	padding-right: .5rem;
}

pre code {
	margin: .7rem 0 .5rem 0;

	font-size: .8rem;
	letter-spacing: .1rem;

	color: #484848;
	line-height: 1.3rem;

}

.keyword {
	color: black;
}

.phpdoc {
	color: gray;
}

.preprocessor {
	color: #7F7F7F;
}

.string {
	color: #497C8E;
}

.other > .string {
	color: #00007E;
}

code .comment {
	color: #55498E;
	opacity: .6;
}


code > span#caption {
	margin-top: .2rem;
	padding-top: .5rem;
	padding-right: .5rem; //This must match the code.block right padding so borders meet.
}

code #caption {
	font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

pre.landscape {
	margin-top: -1rem;
}
pre.landscape, code.landscape {
	display: block;
	width: 100%;
	border: none;
}
code.landscape > span#caption {
	padding-right: 0;
}


@media only screen and (max-width: 45em) {
	pre, pre code {
		display: block;
		float: none;
		width: 100%;
		padding: 0;
		margin: 10px 0 20px 0;
	}

	pre code{
		white-space: pre-wrap;
		box-shadow: none;
	}